<head>
    <title>Add a friend!</title>
</head>
    <body>
        <div class="title">
            <h1>Enter friend's username</h1>
        </div>
        <div id="content">
            <form method="post" enctype="multipart/form-data" action="/addfriend">
                <label for="friend_email">Enter your email:</label>
                <input type="text" name="friend_email", required='true' /><br />
                <input type="submit" value="Add Friend"/>
            </form>
         </div>
    </body>