<head>
    <title>Here are the top five most popular tags!</title>
</head>


<body>
    {% if message %}
        <h4>{{message}}!</h4>
    {% endif %}

    {% if tags %}
        <h2>View photos for each tag:</h2>
        <ul>
            {% for tag in tags %}
                <li>{{tag[0]}}: {{tag[1]}}</li>
                <form method = 'post' action = '/populartags'>
                    <input type = 'hidden' name = 'tag' value = '{{tag[0]}}'>
                    <input type = 'submit' value = 'View Photos'>
            {% endfor %}
        </ul>
    {% endif %}

    <ul>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
    </ul>

</body>